<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Happy Hour Search</title>
</head>

<body>

    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <div>
                        <h6 class="d-flex justify-content-end">
                            <a href="/profile">{{ user.displayName }}</a> |
                            <a href="/logout">Logout</a>
                        </h6>
                        <a href="/login/facebook">Log in with Facebook</a>
                        <h1>{{msg}}</h1>
                        <h3 id="user-info" class="d-flex flex-column align-self-end">

                        </h3>
                    </div>
                    <h1> Make every hour, happy hour!</h1>

                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Search for Happy Hour Venue</label>
                            <textarea class="form-control" id="search" rows="3"></textarea>

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"> Location</label>
                            <textarea class="form-control" id="location" rows="3"></textarea>

                        </div>
                        <button type="button" id="submit" class="btn btn-outline-primary btn-lg">Search</button>
                    </form>
                    <div id="results">
                    </div>
                    <div id="locationMap">

                    </div>
                    <div id="options">


                        <script>
                            $("#submit").on("click", function (event) {
                                event.preventDefault();
                                var newSearch = {
                                    name: $("#search").val().trim(),
                                    location: $("#location").val().trim()
                                }

                                $.post("/api", newSearch)
                                    .then(function (data) {
                                        var venues = data.response.venues;
                                        console.log(venues);
                                        for (var i = 0; i < venues.length; i++) {
                                            var venue = venues[i];
                                            console.log("next venue =" + venue.name);

                                            var routeName = venue.name.replace(/\s+/g, "").toLowerCase();
                                            var url = `/venue/${routeName}?venue_id=${venue.id}`;

                                            console.log(url);
                                            var a = `<a href="${url}">${venue.name}</a>`;
                                            $("#options").append($(a));
                                        }
                                    })



                            })




                        </script>
</body>

</html>